html {
  height: 100%;
  width: 100%;
}
body{
  background-image: linear-gradient(#3F00E6,#D500E6,#8A00E6,#000CE6);
  text-align: justify;
}
main{
  background-color: white;
  widht: 800px;
  border-radius: 10px;
}

h1{
  font-family: Heveltica;
  color: #8A00E6;
}
h2{
  font-family: Heveltica;
  color: #8A00E6;
}
#titulo{  /*tudo em html que é "id em css é #" já se em html for "class em css é ."*/
  color: Black; /*uma dúvida que gera é a diferença do id e o class*/
}